<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Clock</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
    <h1>Time Clock Homepage</h1>

    <div>
        <h2>Welcome, <span th:text="${employee.username}"/>! </h2>
        <h3>Current Time: <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" ></span></h3>
            <div>

                <div th:if="${employee.getIsOnShift() == T(com.example.simpletimeclock.model.utility.Status).Active}">
                    <p> Your are currently on an active shift. This shift started at <span th:text = "${shift.getStart()}"/> </p>

                </div>


                <div th:unless="${employee.getIsOnShift() == T(com.example.simpletimeclock.model.utility.Status).Active}">
                    <p>You are NOT on an active shift.</p>
                    <form th:action="@{/index/newshift}"  method="GET">
                        <div class = "box-footer">
                            <button type="submit" class = "btn btn-primary">Start a new shift</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</body>
</html>